.customContainer {
  padding: 40px 0;
  background-color: #242424;

  @media (min-width: 992px) {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

.customRow {
  margin: 0;
  justify-content: center;
  margin-bottom: 10px;
}

.customCol {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    color: #fff;
    @media (min-width: 992px) {
      margin-bottom: 25px;
    }

    img {
      transform: scale(0.5);
      @media (min-width: 992px) {
        transform: scale(1);
      }
    }

    .titleText {
      font-size: 2rem;
      font-family: "Oswald", sans-serif;
      @media (min-width: 992px) {
        font-size: 2.5rem;
        margin: 0 10px;
      }
    }
  }
}

.videoColumn {
  max-width: fit-content;
  width: auto;
  .customMainVideoGroup {
    display: flex;
    flex-direction: row;

    .customMainIframe {
      width: 250px;
      height: 195px;
      border: none;
    }

    .customBackBtn {
      position: relative;
      display: block;
      margin-right: 5px;
      font-size: 42px;
      transform: translateY(180%);
      color: white;
    }

    .customPrevBtn {
      position: absolute;
      margin-right: 5px;
      font-size: 42px;
      transform: translateY(80%);
      color: white;
      :hover {
        color: #007bff;
      }
    }

    .customForwardBtn {
      position: relative;
      display: block;
      margin-left: 5px;
      font-size: 42px;
      transform: translateY(180%);
      color: white;
    }

    .customNextBtn {
      position: absolute;
      margin-left: 5px;
      font-size: 42px;
      transform: translateY(80%);
      color: white;

      :hover {
        color: #007bff;
      }
    }

    @media only screen and (min-width: 992px) {
      .customMainIframe {
        width: 778px;
        height: 440px;
        border: none;
      }

      .customBackBtn {
        position: relative;
        display: block;
        margin-right: 10px;
        font-size: 60px;
        transform: translateY(350%);
        color: white;
      }

      .customPrevBtn {
        position: absolute;
        margin-right: 10px;
        font-size: 60px;
        transform: translateY(250%);
      }

      .customForwardBtn {
        position: relative;
        display: block;
        margin-left: 10px;
        font-size: 60px;
        transform: translateY(350%);
        color: white;
      }

      .customNextBtn {
        position: absolute;
        margin-left: 10px;
        font-size: 60px;
        transform: translateY(250%);
      }
    }
  }
}

.customVideoContainer {
  display: flex;
  width: auto;
  margin-top: 40px;

  @media (max-width: 765px) {
    display: none;
  }

  .customVideoColumn {
    margin: 16px;
    position: relative;
    bottom: 0;
    padding: 5px;
    overflow: hidden;

    img {
      width: 240px;
      height: 135px;
    }

    img:hover {
      box-shadow: 0 0 5px 3px rgba(2, 141, 187, 0.5);
    }

    .bottomVideoTitleBar {
      width: 240px;
      height: 30px;
      background: rgba(0, 0, 0, 0.8);
      transform: translateY(-100%);

      span {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        padding: 10px;
      }
    }
  }
}
