.customHeader {
    background: url("/about/background.jpg");
    background-size: cover;
    height: 408px;
    position: relative;
    color: white;
    font-family: "Oswald", sans-serif;
    overflow: hidden;
}

.customCharacterImg {
    width: auto;
    transform: translate(-110%, 10%) scale(.85);

    @media only screen and (min-width: 992px) {
        width:100%;
        transform: translate(-10%, 1%);
    }
}

.customGCLogo {
    position: relative;
    width: 239px;
    height: 126px;
    transform: translate(-55%, 15%);
 
    @media (min-width: 992px) {
        width: 375px;
        height: 198px;
        margin-top: 35px;
        transform: translateX(12%);
    }
}

.customHeaderCaption {
    position: absolute;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    text-align: center;
    width: 288px;
    height: 94px;
    transform: translate(-55%, 90%);  
    text-shadow: 1px 1px 6px #000;

    @media (min-width: 992px) {
        font-size: 2.25rem;
        margin: 0 10px;
        width: 324px;
        height: 107px;
        transform: translateX(60px);
    }
}

.bottomLine {
    width: 100%;
    height: 4px;
    background: #007bff;
    display: block;
    z-index: 99;
  }
  