/* Home Content */
.content {
  background: #242424;
  color: #fff;
}

/* Project Soluna Logo */
.menuLogo {
  margin-right: 20px;
  width: 183px;
  height: 30px;
}

/* Footer */
.footer {
  background-color: #373a3c;
  color: #fff;
}
