.custModal{
    background-color: #373A3C !important;
    color: #fff !important;
}

.custModalClose{
    span{
        color: white;
    }

}
.custModalLink{
    padding: 15px 0 10px;
}

.custModalFooter{
    justify-content: left !important;
}