/* Home Content */
.content {
  background: #242424;
  color: #fff;
}

/* Project Soluna Logo */
.menuLogo {
  margin-right: 20px;
  width: 183px;
  height: 30px;
}

/* Footer */
.footer {
  background-color: #373a3c;
  color: #fff;
}

.ItemsPageTitle {
  margin-top: 50px;
  font-size: 1.95rem;
  text-align: center;
  justify-content: center;
  font-family: "SF Pro Text", sans-serif;
  font-size: 32px;
  width: auto;
  background-color: #242424;
  color: #fff;
}

/* Edit Character Page */
.editCharPageTitle {
  margin: 15px 0;
  font-size: 1.95rem;
  text-align: center;
  justify-content: center;
  font-family: "SF Pro Text", sans-serif;
  font-size: 32px;
  width: auto;
  height: 43px;
  background-color: #242424;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .editCharPageTitle {
    display: none;
  }
}
.editCharCustom {
  background-color: #242424;
}

/* Ranking Exp Page */
.rankexpCustom {
  background-color: #242424;
}

/* Ranking Win Page */
.rankwinCustom {
  background-color: #242424;
}
