.wrapper {
  display: flex;
  position: relative;
  height: 100px;
  width: 100%;
  color: white;
  border-top: 4px solid black;
}

.customContainer,
.customRow,
.customCol {
  height: 100%;
}
.customCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.prev {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}

.charList {
  display: flex;
  width: 250px;
  overflow: hidden;
  .charIcon {
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s;
    filter: grayscale(100%);
    opacity: 0.5;

    &:last-child {
      margin-right: 0;
    }
  }

  .active {
    filter: grayscale(0%);
    opacity: 1;
  }
}
